.coverage
.eggs/
.idea/
mal.egg-info/
*.pyc
docs/_build
dist/
build/
*.iml
*.mal
bin/
docs/source/.static/
docs/source/.templates/
malpy.egg-info/
malpy/__pycache__/
tests/__pycache__/
.tox/
.cache/
htmlcov/